.kirb{
    position: relative;
    top: 300px;
}

@font-face {
    font-family: "Gotham";
    src: url("GothamBold.woff") format("woff");
}

p{
    font-family: "Gotham";
    font-size: xx-large;
    position: fixed;
    top: 50px;
    right: 500px;
    text-align: center;
}
